@font-face{
    font-family: '思源黑体';
    src : url('../fonts/SourceHanSans-Normal.otf');
}

html,body {
    margin: 0px;
    padding: 0px;
    font-family: '思源黑体';
    background-color: #ceffce;
}
.header {
    height: 32px;
    background-color: aqua;
    cursor: move;
}
.main {
    width: 100%;
}
.main ul {
    padding-left: 0px;
    margin: 0px;
    /*禁止浏览器选择文本,防止双击选中文本*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main ul li {
    list-style: none;
    cursor: pointer;
    padding-left: 2px;

    overflow: hidden;
    -ms-text-overflow: ellipsis;/*省略号*/
    text-overflow: ellipsis;/*省略号*/
    display:block;
    font-size:18px;
    height:24px;
    line-height:24px;
    white-space:nowrap;/*强制不换行*/
}

.main ul li img {
    height: 18px;
}


.main ul li:hover {
    background-color: #6afb99;
    color: #FFFFFF;
}
.selected {
    background-color: #6afb99;
    color: #FFFFFF;
}


