html,body {
    margin: 0px;
    padding: 0px;
    font-family: '新宋体';
}
.header {
    height: 32px;
    background-color: aqua;
    cursor: move;
}
.main {
    height: 800px;
    width: 100%;
    background-color: #ceffce;
}
.main ul {
    padding-left: 0px;
    margin: 0px;
}

.main ul li {
    list-style: none;
    cursor: pointer;
}

.main ul li:hover {
    background-color: #6afb99;
    color: #FFFFFF;
}
